.DS_Store
node_modules
/build
/.svelte-kit
/package
/src-tauri/target
/src-tauri/gen
.env
.env.*
!.env.example
*.AppImage
*.AppImage.sha256
*.AppImage.zsync
*.deb
*.rpm
*.log
coverage
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
